* {
    font-size: 20px;
    font-family: 'Calibri';
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    overflow-y: scroll;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: normal;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: normal;
}

ol, ul {
    padding-left: 20px;
}

p {
    margin: 0px;
}

table {
    border-collapse: collapse; 
}

td {
    width: 600px;
    background-color: #E0E0E0;
}

td, th {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    width: 120px;
    background-color: #A0A0A0;
    color: white;
 }

tr {
    text-align: left;
    vertical-align: top;
}

.blockLink {
    display: block;
}

.blockLink, .link {
    color: #000080;
}

.blockLink:hover, .link:hover {
    color: #0000F0;
}

.button {
    display: block;
    margin-bottom: 20px;
    width: 180px;
    background-color: #6080A0;
    padding: 5px;
    text-align: center;
    color: white;
}

.button:hover {
    transition: 200ms;
    background-color: #204060;
}

.codeBlock {
    margin-bottom: 20px;
    width: 100%;
    background-color: #E0E0E0;
    padding: 10px;
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    color: black;
    cursor: text;
}

.containerDiv {
    overflow: hidden;
    margin-bottom: 20px;
}

.contentDiv {
    overflow: hidden;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contentImage {
    margin-bottom: 20px;
    width: 80%;
}

.fillDiv {
    height: 200px;
}

.footerDiv {
    margin-bottom: 100px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #808080;
    font-size: 16px;
    color: #808080;
}

.headerDiv {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #A0A0A0;
    opacity: 0.9;
}

.headerLinkDiv {
    margin-bottom: 10px;
}

.headerLinkDiv a {
    margin-left: 20px;
}

.headerSubTitle {
    float: left;
    margin-top: 35px;
    font-size: 25px;
    font-style: italic;
    color: #202020;
}

.icon {
    width: 20px;
}

.image {
    display: block;
    float: left;
    margin-right: 20px;
    width: 400px;
}

.indexSubDiv {
    height: 440px;
}

.indexSubDiv {
    float: left;
    width: 440px;
    margin-right: 20px;
    background-color: #E0E0E0;
    padding: 10px;
}

.indexSubDivImage {
    height: 300px;
}

.innerHeaderDiv {
    margin: 0 auto;
    width: 1000px; 
}

.logoImage {
    float: left;
    margin-right: 20px;
    height: 60px;
}

.mainDiv {
    margin: 0 auto;
    width: 1000px;
    padding-top: 115px;
}

.mediumImage {
    height: 200px;
}

.navigationDiv {
    overflow: hidden;
}

.smallButtonText {
    font-size: 16px;
}

.subNavigationDiv {
    display: none;
    position: fixed;
    background-color: #202020;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subNavigationLink, .subNavigationOverviewLink, .currentSubNavigationLink, .currentSubNavigationOverviewLink  {
    display: block;
    float: none;
    min-width: 220px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    color: white;
}

.subNavigationLink:hover, .subNavigationOverviewLink:hover, .currentSubNavigationLink:hover, .currentSubNavigationOverviewLink:hover {
    transition: 200ms;
    background-color: #808080;
}

.subNavigationOverviewLink, .currentSubNavigationOverviewLink {
    margin-bottom: 20px;
}

.tab {
    float: left;
    overflow: hidden;
}

.tab:hover {
    transition: 200ms;
    background-color: #202020;
    cursor: pointer;
}

.tab:hover .subNavigationDiv {
    display: block;
}

.tabHeader, .currentTabHeader {
    width: 220px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    font-size: 25px;
    color: white;
    transition: 0.2s;
}

.tabHeader:hover, .currentTabHeader {
    background-color: #202020;
}

.textLine {
    margin-top: 20px;
}

.titleDiv {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 4px;
}
