* {
    font-size: 20px;
    font-family: 'Calibri';
    color: #404060;
}

a {
    text-decoration: none;
}

body {
    margin: 0px;
    overflow-y: scroll;
}

h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: normal;
}

h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: normal;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: normal;
}

ul {
    list-style-type: square;
}

ol, ul {
    padding-left: 20px;
}

p {
    margin: 0px;
}

table {
    border-collapse: collapse;
    margin-bottom: 50px;
}

td {
    width: 600px;
    background-color: #E0E0F0;
}

td, th {
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
    padding: 10px;
    font-size: 20px;
    color: #404060;
}

th {
    width: 200px;
    background-color: #E0E0F0;
}

tr {
    text-align: left;
    vertical-align: top;
}

ul {
    margin: 0px;
}

.blockLink {
    display: block;
}

.borderDiv {
    border-style: solid;
    border-width: 1px;
    padding: 20px;
}

.button {
    display: block;
    margin-bottom: 20px;
    width: 180px;
    background-color: #404060;
    padding: 5px;
    text-align: center;
}

.button * {
    color: #FFFFFF;
}

.button:hover {
    transition: 200ms;
    background-color: #8080FF;
}

.codeBlock {
    margin-bottom: 20px;
    background-color: #E0E0F0;
    padding: 10px;
    text-align: left;
    font-family: monospace;
    font-size: 15px;
    color: #404060;
    cursor: text;
}

.contentDiv {
    min-height: 80vh;
    padding-top: 180px;
    padding-bottom: 100px;
    overflow: hidden;
}

.contentDiv, .innerFooterDiv, .innerHeaderDiv {
    margin: 0px auto 0px;
    margin: 0 auto;
    width: 80vw; 
}

.footerDiv {
    min-height: 20vh;
}

.footerDiv, .headerDiv {
    width: 100%;
    background-color: #404060;
    opacity: 0.9;
}

.headerDiv {
    position: fixed;
    z-index: 1;
}

.headerLinkDiv {
    margin-bottom: 10px;
}

.headerLinkDiv a {
    margin-right: 50px;
    color: #A0A0FF;
}

.headerSubTitle {
    float: left;
    margin-top: 20px;
    font-family: Tahoma;
    font-size: 20px;
    font-style: italic;
    color: #FFFFFF;
}

.icon {
    width: 50px;
    opacity: 0.5;
}

.image {
    margin-bottom: 20px;
    width: 100%;
}

.innerFooterDiv {
    padding: 20px;
    color: #FFFFFF;
}

.innerHeaderDiv {
    padding-top: 10px;
}

.link, .blockLink {
    color: #2020FF;
}

.link:hover, .blockLink:hover {
    transition: 200ms;
    text-decoration: underline;
}

.logoImage {
    float: left;
    margin-right: 50px;
    height: 40px;
}

.navigationDiv {
    overflow: hidden;
}

.smallButtonText {
    font-size: 16px;
}

.smallImage {
    width: 50%;
}

.subNavigationDiv {
    display: none;
    position: fixed;
    background-color: #404060;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subNavigationLink  {
    display: block;
    float: none;
    min-width: 220px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    color: #FFFFFF;
}

.subNavigationLink:hover {
    transition: 200ms;
    text-decoration: underline;
}

.tab {
    float: left;
    overflow: hidden;
    text-decoration-color: #FFFFFF;
}

.tab:hover {
    transition: 200ms;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color:#FFFFFF;
}

.tab:hover .subNavigationDiv {
    display: block;
}

.tabHeader, .currentTabHeader {
    transition: 200ms;
    width: 220px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    font-size: 25px;
    color: #FFFFFF;
}

.textLine {
    margin-top: 20px;
}

.titleDiv {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 30px;
}
